@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
    margin-left: 2%;
    margin-right: 6%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(199, 199, 199);
}

.contenedor-todoList {
    background-color: rgb(3, 76, 82);
    margin: 0;

}

.full-wid-input {
    min-width: 30%;
    max-width: 300px;
    margin-left: 20px;
}

.contener-informacion {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;

}

.titulo-form {
    margin-left: 20px;
}

.cantidad,
.id-tarea {
    flex: 1;
    margin-bottom: 2%;
}

.cantidad p,
.id-tarea p {
    margin: 0;
    margin-left: 20px;

}

.id-tarea p {
    display: inline-block;
    margin: 0 50px;
}